

.note-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header-container {
    margin-bottom: 20px;
    margin-right: 10px;
  }
  
  .header-container input {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .content textarea {
    width: 100%;
    height: 200px;
    padding: 4px 3px;
    padding-right: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical; 
  }
  
  .content textarea:focus,
  .header input:focus {
    outline: none;
    border-color: #5b9dd9; 
}
  