
.create-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9; 
    min-height: 80vh; 
    margin-left: 3rem;
  }
  

  .header {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  
  .create-input-title {
    display: flex;
    flex-direction: column;
  }
  
  .create-input-title input {
    width: 80%;
    padding: 16px; 
    border: 1px solid #dcdcdc;   
    border-radius: 8px; 
    background-color: #fff;
    font-size: 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    outline: none; 
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
  }

  .create-input{
    margin-top: 1rem;
  }

  .create-input textarea {
    width: 90%;
    height: 100px;
    padding: 16px; 
    border: 1px solid #dcdcdc; 
    border-radius: 8px; 
    background-color: #fff;
    font-size: 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    outline: none; 
    resize: vertical; 
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
  }
  
  .create-input-title input:focus {
    border-color: #0a0a0a; 
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2); 
  }
  
  .create-input input:focus {
    border-color: #020202; 
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2); 
  }
  
  .create-button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

 .create-button button{
    width: 10vw;
    height: 4vh;
    padding: 5px;
    width: 205px;
   display: flex;
   font-weight: 500;
   justify-content: center;
   align-items: center;
    border: none;
    margin-top: 1rem;
      color: white;
      padding: 10px;
   
      border-radius: 8px;
      background-color: black;
      box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                   -6px -6px 10px -1px rgba(255,255,255,0.7);
      border: 1px solid rgba(0,0,0,0);
      transition:transform 0.1s;
    
  }

.create-button button:hover{
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
    -0.5px -0.5px 0px  rgba(255,255,255,1),
    0.5px 0.5px 0px  rgba(255,255,255,0.15),
     0px 12px 10px -10px rgba(0,0,0,0.05);
border: 1px solid rgba(0,0,0,0.01);
transform: translateY(2px);
}